<!DOCTYPE html>
<div id="prueba"> Nombre: Ricardo Orlando Castillo Olivera <p>
	<br>
	Correo: Ricardo Orlando Castillo Olivera@gmail.com<p>
	<br>
	  	<p>
    		<img src="/images/img1.jpg" width="80" heigth="80" />
    	</p>
</div>


