<!DOCTYPE html>
<img src="/images/img1.jpg" style="float: left;" height="150px" width="100px" />

<div id="prueba"> Nombre: Ricardo Orlando Castillo Olivera<p>
	<br>
	Correo: Ricardocastilloisc@gmail.com<p>
	<br>
	
</div>


